@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<div>
  <Timeline>
    @foreach (var num in Enumerable.Range(1, 10))
    {
      const string col = "red";
      <TimelineItem Color="@col">Item @num</TimelineItem>
    }
  </Timeline>
</div>
